.ed_flow.json.backup
[{"id":"fd2f235b.72e2d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"14046d8a.ea47d2","type":"ui_group","z":"","name":"Charts","tab":"2fad1fb5.dd96c","order":2,"disp":false,"width":"6"},{"id":"84ae1d0f.e00c9","type":"ui_group","z":"","name":"Inputs","tab":"2fad1fb5.dd96c","order":1,"disp":false,"width":"6"},{"id":"ff66d6d2.13b4b8","type":"ui_group","z":"","name":"Group 3","tab":"2fad1fb5.dd96c","order":3,"disp":false,"width":"6"},{"id":"2fad1fb5.dd96c","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"1dacf3e8.d81bac","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["2569c195.6a6c8e","e8015549.d8f908","9f4893c7.a185","b77f974e.3d6c68"]]},{"id":"2569c195.6a6c8e","type":"ui_chart","z":"fd2f235b.72e2d","name":"","group":"14046d8a.ea47d2","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":80,"wires":[[],[]]},{"id":"f2e16365.21bec","type":"function","z":"fd2f235b.72e2d","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["2569c195.6a6c8e"]]},{"id":"7f757cae.7a02c4","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":180,"wires":[["f2e16365.21bec"]]},{"id":"e8015549.d8f908","type":"ui_chart","z":"fd2f235b.72e2d","name":"","group":"14046d8a.ea47d2","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":140,"wires":[[],[]]},{"id":"5d02d3f3.381bcc","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["1dacf3e8.d81bac"]]},{"id":"27bd9957.213546","type":"inject","z":"fd2f235b.72e2d","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":540,"wires":[[]]},{"id":"acdb9d65.dcf3a","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["2569c195.6a6c8e","e8015549.d8f908","9f4893c7.a185","b77f974e.3d6c68"]]},{"id":"8f986819.6da158","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":380,"wires":[["acdb9d65.dcf3a"]]},{"id":"c2d59e3d.142d9","type":"function","z":"fd2f235b.72e2d","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["2569c195.6a6c8e"]]},{"id":"589ce9bb.807108","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":220,"wires":[["c2d59e3d.142d9"]]},{"id":"6c7ca9a7.55d448","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["b77f974e.3d6c68","e8015549.d8f908","2569c195.6a6c8e","36f89a94.c71ac6","5b93918d.725a","9f4893c7.a185"]]},{"id":"b77f974e.3d6c68","type":"ui_chart","z":"fd2f235b.72e2d","name":"pie chart","group":"14046d8a.ea47d2","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":320,"wires":[[],[]]},{"id":"4accd803.82c558","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":150,"y":580,"wires":[["6c7ca9a7.55d448"]]},{"id":"b68625bb.d4be68","type":"function","z":"fd2f235b.72e2d","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["2569c195.6a6c8e"]]},{"id":"81135feb.465db","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":260,"wires":[["b68625bb.d4be68"]]},{"id":"607790ca.366bc","type":"function","z":"fd2f235b.72e2d","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["2569c195.6a6c8e"]]},{"id":"3e76641.684979c","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":300,"wires":[["607790ca.366bc"]]},{"id":"6236b883.0b30f8","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["2569c195.6a6c8e","e8015549.d8f908","b77f974e.3d6c68","36f89a94.c71ac6","5b93918d.725a","9f4893c7.a185"]]},{"id":"e3a7b303.914ce","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":500,"wires":[["6236b883.0b30f8"]]},{"id":"156f6ee2.d83551","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":160,"y":620,"wires":[["ce85d4c0.99cd18"]]},{"id":"ce85d4c0.99cd18","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["b77f974e.3d6c68","e8015549.d8f908","5b93918d.725a","36f89a94.c71ac6","2569c195.6a6c8e","9f4893c7.a185"]]},{"id":"d4c16ac.8613998","type":"function","z":"fd2f235b.72e2d","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["e8015549.d8f908","b77f974e.3d6c68","2569c195.6a6c8e","9f4893c7.a185"]]},{"id":"a646197b.af9f18","type":"inject","z":"fd2f235b.72e2d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":140,"wires":[["d4c16ac.8613998"]]},{"id":"f5fe04c2.8ccac8","type":"function","z":"fd2f235b.72e2d","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["e8015549.d8f908","b77f974e.3d6c68","2569c195.6a6c8e","9f4893c7.a185"]]},{"id":"e21f2adf.a8cd28","type":"inject","z":"fd2f235b.72e2d","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":150,"y":100,"wires":[["f5fe04c2.8ccac8"]]},{"id":"a40bb395.d05b1","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["e8015549.d8f908","36f89a94.c71ac6","5b93918d.725a","2569c195.6a6c8e","9f4893c7.a185","b77f974e.3d6c68"]]},{"id":"e0bcc83d.354898","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":420,"wires":[["a40bb395.d05b1"]]},{"id":"dee91b32.87c728","type":"function","z":"fd2f235b.72e2d","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["e8015549.d8f908","2569c195.6a6c8e","5b93918d.725a","36f89a94.c71ac6","9f4893c7.a185","b77f974e.3d6c68"]]},{"id":"15625e49.1b7982","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":460,"wires":[["dee91b32.87c728"]]},{"id":"9f4893c7.a185","type":"ui_chart","z":"fd2f235b.72e2d","name":"","group":"ff66d6d2.13b4b8","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":200,"wires":[[],[]]},{"id":"36f89a94.c71ac6","type":"ui_chart","z":"fd2f235b.72e2d","name":"","group":"ff66d6d2.13b4b8","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":440,"wires":[[],[]]},{"id":"5b93918d.725a","type":"ui_chart","z":"fd2f235b.72e2d","name":"","group":"ff66d6d2.13b4b8","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":500,"wires":[[],[]]},{"id":"e81b6681.10a378","type":"function","z":"fd2f235b.72e2d","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["b77f974e.3d6c68","e8015549.d8f908","2569c195.6a6c8e","9f4893c7.a185"]]},{"id":"5aee77a5.6bc5f8","type":"inject","z":"fd2f235b.72e2d","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":150,"y":60,"wires":[["e81b6681.10a378"]]},{"id":"692af5fe.24cb9c","type":"ui_button","z":"fd2f235b.72e2d","name":"","group":"84ae1d0f.e00c9","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":280,"y":20,"wires":[["5b93918d.725a","36f89a94.c71ac6","b77f974e.3d6c68","9f4893c7.a185","e8015549.d8f908","2569c195.6a6c8e"]]}]